/* button CSS */
.jobpage-button {
    margin: 3vw;
        height: 3vw;
        width: 10vw;
        border: none;
        background-color: rgb(4, 160, 4);
        border-radius: 1vw;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        box-shadow: 0 5px rgb(0, 132, 0);
    }
    
    .jobpage-button:hover {
        background-color: rgb(5, 196, 5);
    }
    
    .jobpage-button:active {
        box-shadow: none;
        transform: translateY(5px);
}
