.jobs{
    margin-top: 50px;
    margin-left: 33%;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 500px;
    height: 500px;


}
#title{
    flex-grow: 1;
    margin-right: 20px;
}

#jobInfo{
    flex-grow: 1;
    margin-right: 20px;
}

.pay{
    flex-grow: 1;
    margin-right: 20px;

}

.description{
    flex-grow: 3;
   
}

.words{
    line-height: 25px;

}