.lessonpage-wrapper {
    width: 40vw;
    margin: auto;
    margin-top: 25vh;
}

.lessonpage-question {
    justify-content: left;
    font-size: 5vh;
    font-family: sans-serif;
    color: rgb(70, 69, 69);
    margin-bottom: 5vh;
}

.lessonpage-answer-form {
    display: flex;
}

.lessonpage-answer-label {
    width: 20vw;
    font-size: 3.5vh;
    font-family: sans-serif;
    color: rgb(70, 69, 69);
}

.lessonpage.answer-input {
    width: 100%;
}

.lessonpage-button-pane {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

.lessonpage-button {
    width: 10vw;
    height: 4vw;
    border: none;
    background-color: rgb(48, 48, 218);
    border-radius: 1vw;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 5px rgb(25, 25, 180);
}

.lessonpage-button:hover {
    background-color: rgb(68, 68, 248);
}

.lessonpage-button:active {
    box-shadow: none;
	transform: translateY(5px);
}
    /* width: 30vw;
	height: 8vh;
	margin-top: 5vh;
	background-color: rgb(48, 48, 218);
	border: none;
	border-radius: 2vh;
	color: white;
	font-size: 5vh;
	font-weight: bold;
	font-family: sans-serif;
	box-shadow: 0 7px rgb(25, 25, 180);
	cursor: pointer;
	:hover {
		background-color: rgb(68, 68, 248);
	}
	:active {
		box-shadow: none;
		transform: translateY(7px);
	}    */