#username{
    border-radius: 7px;
    height: 150px;
    border-width: thin;
    width: 300px;

}

#password{
    border-radius: 7px;
    height: 150px;
    border-width: thin;
    width: 300px;
}

::placeholder{
    padding-left: 10px;
}