.roadmap-wrapper {
    display: flex;
}

.roadmap-menu-wrapper {
    float: left;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.main-left-side-menu, .main-right-side-menu {
    width: 25vw;
    text-align: center;
}

.main-left-side-menu {
    width: 20vw;
}

.profile-dropdown-content {
    display: none;
}

.profile-dropdown {
    /* margin-left: 12vw; */
    width: fit-content;
    float: right;
}

.profile-dropdown-wrapper {
    position: fixed;
}

.profile-dropdown:hover .profile-dropdown-content{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.profile-dropdown:hover .profile-dropdown-button {

    background-color: lightgrey;
}

.profile-dropdown-button {
    font-size: 26px;
    border: none;
    background-color: inherit;
    font-weight: bold;
    color: rgb(70, 69, 69);
    width: 12vw;
    height: 5vw;
    cursor: pointer;
}


.coins{
    background-color: aquamarine;
}

.profile-dropdown-link {
    height: 5vw;
    border: none;
    cursor: pointer;
}

.profile-dropdown-link:hover {
    background-color: lightgrey;
    margin: none;
}

.roadmap-left-side-link {
    width: 20vw;
    padding-right: 4vw;
}

.website-name {
    border: none;
    background-color: inherit;
    height: 5vw;
    margin-bottom: 2vw;
    margin-top: 8px;
    width: 20vw;
    font-weight: bold;
    font-size: 2.5vw;
    font-family: sans-serif;
    color: rgb(70, 69, 69);
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.coin-button-1 {
    background-color: inherit;
    font-weight: bold;
    color: rgb(70, 69, 69);
    border: none;
    margin-left: 1vh;
}




