.unit-graphic-wrapper {
    width: 50vw;
    height: fit-content;
}

.unit-header {
    width: fit-content;
    font-size: 5vh;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 25px;
}

.unit-lessons {
    display: flex;
    flex-direction: column;
}